{{>admin-navbar}}

<div class="row d-flex justify-content-evenly">
    <div class="dash-boxes col-3">
        <div class="inner-dash-boxes">
            <h5 class="d-block">
                Today's Revenue
            </h5>
            <h1>
                $ 23,456.70
            </h1>
        </div>
    </div>
    <div class="dash-boxes col-3">
        <div class="inner-dash-boxes">
            <h5>
                Week's Revenue
            </h5>
            <h1>
                $ 123,098.34
            </h1>
        </div>
    </div>
    <div class="dash-boxes col-3">
        <div class="inner-dash-boxes">
            <h5>
                Today's Orders
            </h5>
            <h1>
                144
            </h1>
        </div>
    </div>
    <div class="dash-boxes col-3">
        <div class="inner-dash-boxes">
            <h5>
                New Products
            </h5>
            <h1>
                56
            </h1>

        </div>

    </div>
</div>