<div id="imgcrop" class="imgcrop" hidden>
    <div class="div1">
        <div class="result" id="cropper">
            <canvas id="cropperImg" width="0" height="0"></canvas>
        </div>
    </div>
    <div class="row" style="position: absolute; bottom:40px;">
        <button type="button" class="cropBtn btn btn-danger" style="display:block;" id="cropImageBtn">Crop</button>
    </div>
</div>


{{!--
<div class="mb-3 mt-3">
    <label for="formFileMultiple" class="form-label">Images</label>
    <input type="file" name="file" class="form-control" id="file" accept="image/*" multiple />
    <input type="hidden" id="post_img_data" name="image_data_url">
    <div class="modal-body p-4">
        <div class="img-preview"></div>
        <div id="galleryImages"></div>
        <div id="cropper">
            <canvas id="cropperImg" width="0" height="0"></canvas>
            <button type="button" class="cropImageBtn btn btn-danger" style="display:none;"
                id="cropImageBtn">Crop</button>
        </div>
        <div id="imageValidate" class="text-danger"></div>
    </div>
</div> --}}



<style>
    .imgcrop {
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(52 49 49 / 46%);
    }

    .platcrop {
        width
    }

    .div1 {
        background-color: white;
        width: 500px;
        height: 560px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imgcrop img {
        max-height: 600px;
        max-width: 800px;
    }

    .fa-close {
        top: -1px;
        right: -344px;
    }
</style>

<script>


</script>