.cartMain{
    width: 100%;
    min-height: 89vh;
    height: 100%;
    background-color: #eeeded;
    background-image: url('/images/wallpaperflare.com_wallpaper.jpg');
}
.cartTable{
    margin-top: 30px;
    background-color: white;
    border: 1px gainsboro;
    border-style: solid;
    padding: 10px;
    border-radius: 5px;
    width: 750px;
    height: 500px;
}
.cart-overflow-div::-webkit-scrollbar {
        display: none;
}
.cartTable thead tr{
    border-bottom: 1px solid;
    border-top: 1px solid;
    color: #a5bbc8;
    position: sticky;
    top: 0;
}
.cartTable tbody{
    height: 150px;
    border-bottom: 1px solid #a5bbc8;
    color: #979b9d;
}
.cartTable tbody img{
    width:100px;
}
.imagetd{
    display: flex;
    justify-content: center;
}
.cartTable table{
    width: 100%;
}
.cart-mng-buttons{
    text-align: end;
}
.cart-endrow{
    height: 45px;
}
.cart-endrow button{
    width: 30px;
    height: 30px;
    margin-left: 4px;
    margin-right: 4px;
    border: 2px solid ;
    background-color: white;
    transition-duration: 0.4s;
    border-radius: 50%;

}
.cart-endrow .remove{
    border-color: #f3c2be;
    color: #f3c2be;
    
}
.cart-endrow .wishlist{
    border-color: #32bdd2;
    color: #32bdd2;
}
.cart-endrow .remove:hover {
    background-color: #f3c2be;
    color: white;
}
.cart-endrow .wishlist:hover {
    background-color: #32bdd2;
    color: white;
}







.cartDetails1{
    margin-top: 30px;
    background-color: white;
    border: 1px gainsboro;
    border-style: solid;
    padding: 10px;
    border-radius: 5px;
    height: 500px;
    width: 342px;
}
.cartDetails h4{
    color: #bfbfbf;
}
.cartDetails td{
    width: 100%;
    font-size: 14pt;
}
.cartDetails tr{
    height: 55px;
}
.placeorder{
    position: absolute;
    bottom:35px;
    right: 135px;
    width: 24%;
    height: 50px;
    border: none;
    
}
.couponDiv{
    margin-top:20px;
    height: 30px;
}
.couponDiv input{
    display: inline;
    width: 49%;
}
