.cartMain{
    width: 100%;
    min-height: 89vh;
    height: 100%;
    background-color: #eeeded;
    background-image: url('/images/wallpaperflare.com_wallpaper.jpg');
}
.cartTable{
    margin-top: 30px;
    background-color: white;
    border: 1px gainsboro;
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
    width: 1000px;
    height: 500px;
}
.cartProducts{
    display: flex;
    justify-content: center;
}








.profilepic div{
    display: flex;
    justify-content: center;
}
.profilepic img{
    width: 100px;
}