{{>user-navbar}}


<div class="cartMain">
    <div class="container">
        <div class="row">
            <div class="col cartProducts">
                <div class="cartTable">


                    <div style="width: 100%; height: 100%;text-align: center;">
                        <div class="row">
                            <div style="margin-top: 110px;" class="thank">
                                <div class="wrapper"> <svg class="animated-check" viewBox="0 0 24 24">
                                        <path d="M4.1 12.7L9 17.6 20.3 6.3" fill="none" />
                                    </svg>
                                </div>
                                <h2>You are successfully purchased from<span>Kids World</span></h2>
                                <h4>The product will reach you within 2 days</h4>
                                <a href="/">
                                <button style="border: none; height: 34px; width: 170px;" href="/">Go back ot Home</button>
                                </a>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>